.menu{
  background:black;
  height: 1000vw;
}
.fa-bars{
  color: white;
  margin: 50px 0px 0px 100px ;
  font-size:22.5px;

} 
#logo1{
  height: 50px;
  width: 150px;
  margin-top:30px ;
  
}
hr1{
  color: white;
}
main ul li{
  list-style: none;
  color:white;
  
}
.logodiv img{
  margin-bottom: 8.5px;
  margin-left: 10px;
}
hr{
  color: white;
  width:75%;
  margin-left: 45px;
}

.main ul li{
  list-style: none;
  color:white;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 115px;
  font-size:medium;
  font-weight: 500;
  
}
.fa-house{
  color:white;
  font-size: 20px;
  margin-left: 80px;
  float:left;
}
.fa-film{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;
}
.fa-briefcase{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;
}
.fa-photo-film{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-timeline{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;
}
.fa-clock,.fa-thumbs-up,.fa-microchip,.fa-plus
{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;
}
.menu ul p{
  color: white;
  margin-left:70px ;
  font-weight: bold;
}
.fa-user-circle
{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-shopping-cart{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-music{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-film
{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-television
{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-gamepad
{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-trophy
{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-graduation-cap
{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;

}
.fa-podcast
{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;
}
.fa-newspaper{
  color: white;
  float: left;
  font-size: 20px;
  margin-left: 80px;
}
